body{
box-sizing: border-box;
width: 100%;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; 
  margin-left: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}